<div class="dashboard-container">
    <div class="hero-section">
        <h1 class="hero-title">Nos Outils</h1>
        <p class="hero-subtitle">Testez vos compétences en vérifiant vos compétences grâce à nos outils de cryptage.</p>
    </div>

    <div class="game-dashboard">

        <div class="mission-cards">
            <div class="mission-card">
                <div class="mission-badge">
                    <span class="material-icons">vpn_key</span>
                </div>
                <div class="mission-image">
                    <img src="/images/ui/cadenas-binaire.webp" alt="Code Vignère">
                </div>
                <div class="mission-content">
                    <h3>Code Vignère</h3>
                    <p class="mission-description">
                        Outils de chiffrement Vignère.
                    </p>
                    <a href="{{URL_CODE_CHIFFREMENT_VIGENERE}}" class="btn-mission">
                        <span>Chiffrer</span>
                        <span class="material-icons">arrow_forward</span>
                    </a>
                </div>
            </div>

            <div class="mission-card">
                <div class="mission-badge">
                    <span class="material-icons">vpn_key</span>
                </div>
                <div class="mission-image">
                    <img src="/images/ui/cadenas-binaire.webp" alt="Code César">
                </div>
                <div class="mission-content">
                    <h3>Code César</h3>
                    <p class="mission-description">
                        Outils de chiffrement César.
                    </p>
                    <a href="{{URL_CODE_CHIFFREMENT_CESAR}}" class="btn-mission">
                        <span>Chiffrer</span>
                        <span class="material-icons">arrow_forward</span>
                    </a>
                </div>
            </div>

            <div class="mission-card">
                <div class="mission-badge">
                    <span class="material-icons">vpn_key</span>
                </div>
                <div class="mission-image">
                    <img src="/images/ui/cadenas-binaire.webp" alt="Frequency Game">
                </div>
                <div class="mission-content">
                    <h3>Chiffrement Par Permutation</h3>
                    <p class="mission-description">
                        Outils de chiffrement par permutation.
                    </p>
                    <a href="{{URL_CODE_CHIFFREMENT_PERMUTATION}}" class="btn-mission">
                        <span>Chiffrer</span>
                        <span class="material-icons">arrow_forward</span>
                    </a>
                </div>
            </div>

            <div class="mission-card">
                <div class="mission-badge">
                    <span class="material-icons">vpn_key</span>
                </div>
                <div class="mission-image">
                    <img src="/images/ui/cadenas-binaire.webp" alt="Code César">
                </div>
                <div class="mission-content">
                    <h3>Correction par Hamming</h3>
                    <p class="mission-description">
                        Correcteur de messages bruités par le carré de Hamming
                    </p>
                    <a href="/code/hamming" class="btn-mission">
                        <span>tester</span>
                        <span class="material-icons">arrow_forward</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="hero-section">
            <h1 class="hero-title">Déchiffrement</h1>
            <p class="hero-subtitle">Testez vos compétences en déchiffrant des messages codés grâce à nos outils de décryptage.</p>
        </div>

        <div class="mission-cards">
            <div class="mission-card">
                <div class="mission-badge">
                    <span class="material-icons">lock_open</span>
                </div>
                <div class="mission-image">
                    <img src="/images/ui/cadenas-binaire.webp" alt="Déchiffrement Vigenère">
                </div>
                <div class="mission-content">
                    <h3>Code Vigenère</h3>
                    <p class="mission-description">
                        Outils de déchiffrement Vigenère.
                    </p>
                    <a href="{{URL_CODE_DECHIFFREMENT_VIGENERE}}" class="btn-mission">
                        <span>Déchiffrer</span>
                        <span class="material-icons">arrow_forward</span>
                    </a>
                </div>
            </div>

            <div class="mission-card">
                <div class="mission-badge">
                    <span class="material-icons">lock_open</span>
                </div>
                <div class="mission-image">
                    <img src="/images/ui/cadenas-binaire.webp" alt="Déchiffrement César">
                </div>
                <div class="mission-content">
                    <h3>Code César</h3>
                    <p class="mission-description">
                        Outils de déchiffrement César.
                    </p>
                    <a href="{{URL_CODE_DECHIFFREMENT_CESAR}}" class="btn-mission">
                        <span>Déchiffrer</span>
                        <span class="material-icons">arrow_forward</span>
                    </a>
                </div>
            </div>

            <div class="mission-card">
                <div class="mission-badge">
                    <span class="material-icons">lock_open</span>
                </div>
                <div class="mission-image">
                    <img src="/images/ui/cadenas-binaire.webp" alt="Déchiffrement Permutation">
                </div>
                <div class="mission-content">
                    <h3>Déchiffrement Par Permutation</h3>
                    <p class="mission-description">
                        Outils de déchiffrement par permutation.
                    </p>
                    <a href="{{URL_CODE_DECHIFFREMENT_PERMUTATION}}" class="btn-mission">
                        <span>Déchiffrer</span>
                        <span class="material-icons">arrow_forward</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
