<div class="dashboard-container">
    <div class="hero-section">
        <h1 class="hero-title">Nos Outils</h1>
        <p class="hero-subtitle">Testez vos compétences en vérifiant vos compétences grâce à nos outils de cryptage.</p>
    </div>

    <div class="game-dashboard">

        <div class="mission-cards">
            <div class="mission-card">
                <div class="mission-badge">
                    <span class="material-icons">vpn_key</span>
                </div>
                <div class="mission-image">
                    <img src="/images/cadenas-binaire-22632253.webp" alt="Code Vignère">
                </div>
                <div class="mission-content">
                    <h3>Code Vignère</h3>
                    <p class="mission-description">
                        Outils de chiffrement Vignère.
                    </p>
                    <a href="/code/chiffrement-vigenere" class="btn-mission">
                        <span>Chiffrer</span>
                        <span class="material-icons">arrow_forward</span>
                    </a>
                </div>
            </div>

            <div class="mission-card">
                <div class="mission-badge">
                    <span class="material-icons">vpn_key</span>
                </div>
                <div class="mission-image">
                    <img src="/images/cadenas-binaire-22632253.webp" alt="Code César">
                </div>
                <div class="mission-content">
                    <h3>Code César</h3>
                    <p class="mission-description">
                        Outils de chiffrement César.
                    </p>
                    <a href="/code/chiffrement-cesar" class="btn-mission">
                        <span>Chiffrer</span>
                        <span class="material-icons">arrow_forward</span>
                    </a>
                </div>
            </div>

            <div class="mission-card">
                <div class="mission-badge">
                    <span class="material-icons">vpn_key</span>
                </div>
                <div class="mission-image">
                    <img src="/images/cadenas-binaire-22632253.webp" alt="Frequency Game">
                </div>
                <div class="mission-content">
                    <h3>Chiffrement Par Permutation</h3>
                    <p class="mission-description">
                        Outils de chiffrement par permutation.
                    </p>
                    <a href="/code/chiffrement-permutation" class="btn-mission">
                        <span>Chiffrer</span>
                        <span class="material-icons">arrow_forward</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
