<link rel="stylesheet" href="/styles/dashboard.css">

<div class="dashboard-container">
  <div class="hero-section">
    <h1 class="hero-title">Nos Formations</h1>
    <p class="hero-subtitle">Apprennez de nouvelles compétences grâce à nos leçons sur différents systèmes de cryptage et de décryptage.</p>
  </div>

  <div class="game-dashboard">
    <div class="dashboard-header">
      <h2>Nos différentes leçons.</h2>
      <p class="dashboard-subtitle">Choisissez une leçon pour commencer</p>
    </div>

    <div class="mission-cards">
      <div class="mission-card">
        <div class="mission-badge">
          <span class="material-icons">vpn_key</span>
        </div>
        <div class="mission-image">
          <img src="/images/cadenas-binaire-22632253.webp" alt="Code Vignère">
        </div>
        <div class="mission-content">
          <h3>Code Vignère</h3>
          <p class="mission-description">
            Leçon de chiffrement Vignère.
          </p>
          <a href="/LeconVigenere" class="btn-mission">
            <span>Commencer à apprendre</span>
            <span class="material-icons">arrow_forward</span>
          </a>
        </div>
      </div>

      <div class="mission-card">
        <div class="mission-badge">
          <span class="material-icons">vpn_key</span>
        </div>
        <div class="mission-image">
          <img src="/images/cadenas-binaire-22632253.webp" alt="Code César">
        </div>
        <div class="mission-content">
          <h3>Code César</h3>
          <p class="mission-description">
            Leçon de chiffrement César.
          </p>
          <a href="/LeconCesar" class="btn-mission">
            <span>Commencer à apprendre</span>
            <span class="material-icons">arrow_forward</span>
          </a>
        </div>
      </div>

      <div class="mission-card">
        <div class="mission-badge">
          <span class="material-icons">vpn_key</span>
        </div>
        <div class="mission-image">
          <img src="/images/cadenas-binaire-22632253.webp" alt="Frequency Game">
        </div>
        <div class="mission-content">
          <h3>Chiffrement Par Permutation</h3>
          <p class="mission-description">
            Leçon de chiffrement par permutation.
          </p>
          <a href="/LeconPermutation" class="btn-mission">
            <span>Commencer à apprendre</span>
            <span class="material-icons">arrow_forward</span>
          </a>
        </div>
      </div>

      <div class="mission-card">
        <div class="mission-badge">
          <span class="material-icons">vpn_key</span>
        </div>
        <div class="mission-image">
          <img src="/images/cadenas-binaire-22632253.webp" alt="Frequency Game">
        </div>
        <div class="mission-content">
          <h3>Règlement Sur Les Données (RGPD)</h3>
          <p class="mission-description">
            Leçon sur le RGPD.
          </p>
          <a href="/lecon-rgpd" class="btn-mission">
            <span>Commencer à apprendre</span>
            <span class="material-icons">arrow_forward</span>
          </a>
        </div>
      </div>

      <div class="mission-card">
        <div class="mission-badge">
          <span class="material-icons">vpn_key</span>
        </div>
        <div class="mission-image">
          <img src="/images/cadenas-binaire-22632253.webp" alt="Frequency Game">
        </div>
        <div class="mission-content">
          <h3>Les Mots De Passe</h3>
          <p class="mission-description">
            Leçon sur les origines des mots de passes.
          </p>
          <a href="/LeconHistMdp" class="btn-mission">
            <span>Commencer à apprendre</span>
            <span class="material-icons">arrow_forward</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
