<link rel="stylesheet" href="/styles/dashboard.css">

<div class="dashboard-container">
    <div class="hero-section">
        <h1 class="hero-title">Bienvenue, {{USERNAME_KEY}}</h1>
        <p class="hero-subtitle">Développez vos compétences en cybersécurité</p>
    </div>

    <section id="concept" class="concept-section">
        <div class="section-container">
            <div class="section-header">
                <span class="section-badge">L'Escape Game</span>
                <h2>Un apprentissage ludique et immersif</h2>
                <p>Transformez votre façon d'apprendre la cybersécurité grâce à notre méthodologie unique</p>
            </div>

            <div class="concept-grid">
                <a href="/macos" class="concept-card">
                    <div class="concept-icon">
                        <span class="material-icons">sports_esports</span>
                    </div>
                    <h3>Notre Escape Game</h3>
                    <p>Mettez en pratique toutes les connaissances que vous avez au travers de cet escape game interactif et ludique.</p>

                    <span class="btn-card-action">
                    <span>Lancer l'escape game</span>
                    <span class="material-icons">play_arrow</span>
                </span>
                </a>

                <a href="/outils" class="concept-card">
                    <div class="concept-icon">
                        <span class="material-icons">build</span>
                    </div>
                    <h3>Nos Outils</h3>
                    <p>Vérifiez vos messages cryptés grâce à nos systèmes de décryptage multi-protocoles.</p>

                    <span class="btn-card-action">
                    <span>Accéder aux outils</span>
                    <span class="material-icons">arrow_forward</span>
                </span>
                </a>
            </div>
        </div>
    </section>


    <section id="traditionnel" class="concept-section">
        <div class="section-container">
            <div class="section-header">
                <span class="section-badge">Nos leçons</span>
                <h2>Un apprentissage plus traditionnel</h2>
                <p>Si vous préférez une approche plus classique avec des leçon interactive. N'hésitez pas à suivre nos formations.</p>
            </div>

            <div class="concept-grid">
                <a href="/lecon" class="concept-card">
                    <div class="concept-icon">
                        <span class="material-icons">sports_esports</span>
                    </div>
                    <h3>Notre Formations</h3>
                    <p>Apprennez de nouvelles compétences grâce à nos leçons sur différents systèmes de cryptage et de décryptage.</p>

                    <span class="btn-card-action">
                    <span>Commencer à apprendre</span>
                    <span class="material-icons">play_arrow</span>
                </span>
                </a>
            </div>
        </div>
    </section>
</div>