<link rel="stylesheet" href="/assets/game/css/hamming.css">

<div class="auth-container">
  <div class="auth-card">
    <div class="auth-header">
      <div class="auth-icon">
        <span class="material-icons"></span>
      </div>
      <h1>Correction de messages par Hamming</h1>
      <p class="auth-subtitle">Utilisez le carré de Hamming pour corriger un message brouillé.</p>
      <p>
        Vous ne savez pas utiliser le carré de hamming ? Essayez aussi notre
        <a href="/game/hamming" class="link-mission">mini-jeu d'introduction au carré de Hamming</a>.
      </p>

      {{{FLASH}}}

    </div>


    {{{CONTENTS}}}

  </div>
</div>

{{{GAME_SCRIPT}}}