<form method="post" action="/code/hamming" class="auth-form">
    <input type="hidden" name="type" value="login">

    <div class="form-group">
        <label for="message">
            Entrez le message à corriger :
        </label>
        <input
                type="text"
                name="message"
                id="message"
                placeholder="Entrez le message ici"
                required
                autocomplete="username">
    </div>

    <button type="submit" name="submit" class="btn-auth btn-primary" id="btn-submit">
        <span>Corriger</span>
    </button>
</form>