<h1 class="header">Créer un nouveau mot de passe</h1>

{{FLASH}}

<form method="post" action="/user/new-password">
    <input type="hidden" name="type" value="reset"/>
    <input type="hidden" name="selector" value="{{SELECTOR}}">
    <input type="hidden" name="validator" value="{{VALIDATOR}}">
    <input type="password" name="pwd" placeholder="Entrez le nouveau mot de passe...">
    <input type="password" name="pwd-repeat" placeholder="Répétez le nouveau mot de passe...">
    <button type="submit" name="submit">Recevoir un email</button>
</form>