<h1 class="header">Créer un nouveau mot de passe</h1>

<form method="post" action="./controllers/">
    <input type="hidden" name="type" value="reset"/>
    <input type="hidden" name="selector" value="<?php echo $selector; ?>">
    <input type="hidden" name="validator" value="<?php echo $validator; ?>">
    <input type="password" name="pwd" placeholder="Entrez le nouveau mot de passe...">
    <input type="password" name="pwd-repeat" placeholder="Répétez le nouveau mot de passe...">
    <button type="submit" name="submit">Recevoir un email</button>
</form>