<div class="site-plan-container">
    <h1>Plan du site</h1>

    <ul class="sitemap-list">
        <li>
            <a href="{{URL_HOME}}">
                <span class="material-icons">home</span> Page principale
            </a>
        </li>

        <li>
            <a href="#">
                <span class="material-icons">person</span> Espace Utilisateur
            </a>
            <ul class="sitemap-sublist">
                <li>
                    <a href="{{URL_LOGIN}}">
                        <span class="material-icons">login</span> Connexion
                    </a>
                </li>
                <li>
                    <a href="{{URL_SIGNUP}}">
                        <span class="material-icons">person_add</span> Inscription
                    </a>
                </li>
                <li>
                    <a href="{{URL_RESET_PASSWORD}}">
                        <span class="material-icons">lock_reset</span> Mot de passe oublié
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#">
                <span class="material-icons">info</span> Informations
            </a>
            <ul class="sitemap-sublist">
                <li>
                    <a href="{{URL_MENTIONS}}">
                        <span class="material-icons">gavel</span> Mentions légales
                    </a>
                </li>
                <li>
                    <a href="{{URL_PLAN}}">
                        <span class="material-icons">map</span> Plan du site
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>