<a href="{{URL_LECON}}" class="nav-link">
                        <span class="material-icons">school</span>
                        <span>Formations</span>
                    </a>
                    <a href="{{URL_OUTILS}}" class="nav-link">
                        <span class="material-icons">build</span>
                        <span>Outils</span>
                    </a>
                    <a href="{{URL_MINIGAMES}}" class="nav-link">
                        <span class="material-icons">games</span>
                        <span>Mini jeux</span>
                    </a>
                    <a href="{{URL_PROFIL}}" class="nav-link">
                        <span class="material-icons">person</span>
                        <span>Profil</span>
                    </a>
                    <a href="{{URL_LOGOUT}}" class="nav-link nav-logout">
                        <span class="material-icons">logout</span>
                        <span>Déconnexion</span>
                    </a>